* {
    padding: 0;
    margin: 0;
}

body {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.front {
    position: relative;
    background-color: #060039;
    height: 198.61px;
    border-radius: 7px;
    width: 357.18px;
    margin-bottom: 2rem;
}

.person {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
}

.logo {
    position: absolute;
    right: 22px;
    bottom: 19px;
    display: flex;
    align-items: center;
}

.logo span {
    color: white;
}



.back {
    background-color: #060039;
    height: 198.61px;
    border-radius: 7px;
    width: 357.18px;
    color: white;
}

.back h3 {
    font-size: 12px;
    margin: 15px;
    font-weight: 500;
}

.back h4 {
    font-size: 11px;
    margin: 15px;
    text-align: center;
    font-weight: 500;
}

.back p {
    font-size: 9px;
    margin-left: 15px;
    /* margin-bottom: -4px; */
}

.terms {
    margin-top: 10px;
    margin-bottom: 17px;
}

.code {
    margin-left: 15px;
    font-size: 7px;
}

.btm {
    display: flex;
    justify-content: space-between;
}

.num {
    font-weight: 600;
    font-size: 12px;
}